html {
    font-family: "Reem Kufi", sans-serif;
    color: white;
    background-color: rgb(202, 161, 108);
}

body {
    background-color: black;
    margin: 20px;
    padding: 13px 0 0;
}

select {
    font-family: "Reem Kufi", sans-serif;
    background-color: black;
    color: white;
    border: 2px solid rgb(250, 222, 186);
    border-radius: 0.4em;
    padding: 0.1em;
}

button {
    background-color: black;
    color: rgb(250, 222, 186);
    border-radius: 0.25em;
    border: 2px solid rgb(250, 222, 186);
    transition: color 0.15s ease-out, border-color 0.15s ease-out;
}

button:hover {
    color: white;
    border-color: white;
}

button.pressed {
    color: rgb(168, 168, 168);
    border-color: rgb(168, 168, 168);
}

#intro-layer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 2;

    /* Ignore body margin and padding */
    top: 0px;
    left: 0px;
}

#intro-text {
    width: 30%;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 0 auto;
}

#intro-button {
    display: block;
    width: 90px;
    height: 30px;
    margin: 0 auto;
    font-family: inherit;
}

#intro-layer #intro-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.removed {
    display: none;
}

#keyboard {
    width: 840px;
    height: 160px;
    position: relative;
    margin: 30px auto 0px;
    bottom: 4px;
}

#keyboard-border {
    position: absolute;
    width: calc(100% + 8px);;
    height: calc(100% + 8px);
    left: -4px;
    top: -4px;
    background-color: saddlebrown;
}

.natural {
    /* Width of each natural key is 4.76% of
        the width of the keyboard (because there
        are 21 natural notes on the keyboard and
        1 / 21 = 4.76) with 1px subtracted from
        each key to account for border */
    width: calc(4.76% - 1px);
    height: 100%;
    background-color: white;
    border-right: 1px solid black;
    float: left;
    position: relative;
}

.sharp {
    width: 50%;
    height: 70%;
    background-color: rgb(78, 78, 78);
    position: absolute;
    left: 75%;
    z-index: 1;
}

.natural.pressed {
    background-color: rgb(195, 195, 195);
}

.sharp.pressed {
    background-color: black;
}

.knob {
    width: fit-content;
    display: inline-block;
}

.knob-graphics {
    width: 75px;
    height: 75px;
    background-color: black;
    margin: 0 auto;
    border-radius: 50%;
    border: 6px solid rgb(131, 131, 131);
}

.knob-graphics div {
    width: 5px;
    height: 5px;
    background-color: antiquewhite;
    border-radius: 50%;
    margin: 0 auto;
}

.knob-button-container {
    display: flex;
    justify-content: center;
    margin: 13px 0;
}

.knob-button {
    font-size: 30px;
    margin: 0 5px;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4%;
}

section.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section h2 {
    text-align: center;
}

section h2:first-of-type {
    margin-top: 0;
}

div.separator {
    background-color: rgb(250, 222, 186);
    width: 65%;
    height: 3px;
    margin: 40px auto 20px;
}

@media (max-width: 1024px) {
    #keyboard {
        width: 630px;
        height: 120px;
    }
}

@media (max-width: 768px) {
    #keyboard {
        width: 525px;
        height: 100px;
    }
}

@media (max-width: 640px) {
    #keyboard {
        width: 420px;
        height: 80px;
    }
}

@media (max-width: 500px) {
    #keyboard {
        width: 315px;
        height: 60px;
    }
}